
body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0; 
    padding: 0; 
}
.form-post-real-estate {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
}
.TieuDe h1 {
    text-align: center; 
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: bold;
    color: black;
}
.formDangKy {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;  
    text-indent: 20px;
}

.form-group1 {
    margin-bottom: 15px;  
    text-indent: 100px;
}
.form-control{
    width: 250px; 
    padding: 5px; 
}
.form-control1{
    width: 100px; 
    padding: 5px; 
}
label {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bold;
}
input, select ,form-control1{
    margin-right: 5px;
    margin-left: 5px;
}
input, 
textarea, select,form-control1  {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input[type="datetime-local"] {
    width: 200px;
}
button {
    background: #D9AB73;
    color: black;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 20px; 
    font-weight: bold;
    color: black;
}