.column {
    padding: 1.75rem;
}

.menu-list-subnav {
    display: none;
}

li:hover .menu-list-subnav {
    display: block;
}

.menu-list a:active,
.menu-list a:hover,
.menu-list a:focus
{
    background-color: #D9AB73;
    color: #fff;
}

.field {
    padding: 0 ;
}

/*============================================*/
/*a.navbar-item:hover {
     color: transparent; 
     background-color: initial; 
}

.table-container {
    width: 100%;
    color: #fff;
    border-collapse: collapse;
    border-radius: 10px;  Adjust the value for the desired amount of rounding 
    overflow: hidden;  Ensure rounded corners are applied 
    border-spacing: 0;  Ensure borders are not affected by spacing 
    margin-bottom: 10px;
}

.register-modal-container {
    position: relative;
    text-align: center;
    color: #fff;
    width: 1000px;
    height: 670px;
    margin: auto;
    border-radius: 57px;
    border: 3px solid #D9AB73;
    background: #000;
    flex-shrink: 0;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.5s;

    width: 95%;
    margin: 0 auto;  Center the container horizontally 
    padding: 8px 10px;
}

button .button-xem {
    color: #fff !important;
}

.button-dangki {
    color: #D9AB73;
    font-family: Inter;
    font-size: 16px;
    border: 3px #D9AB73 solid;
    width: 80%;
    padding: 2px 0;
}

.button-dangki:hover {
    color: #fff;
}

.button-xem {
    color: #D9AB73;
    font-family: Inter;
    font-size: 16px;
    border: 3px #D9AB73 solid;
    width: 80%;
    padding: 2px 0;
}

.button-xem:hover {
    color: #fff;
}

.list-auction-p-container {
    width: 18%;
    height: 100%;
    background: black;
    border-left: 6px #D9AB73 solid;
    border-top: 6px #D9AB73 solid;
    border-right: 6px #D9AB73 solid;
    margin-left: 8%;
    margin-top: 1%;
}

.list-auction-p {
    color: #D9AB73;
    font-size: 24px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word;
    text-align: center;
}

th, td {
    border: 1px solid #D9AB73;
    padding: 8px;
    text-align: left;
}

table th  {
    color: #D9AB73 !important;
}

.h1-staff-header {
    padding: 22px 355px 0 355px;

}

.h1-staff-header h1{
    color: #D9AB73;
    font-size: 24px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word;
    text-align: center;
}

.button-search-staff {
    background-color: black;
    color: #D9AB73;
    padding: 8px 20px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 800;
    word-wrap: break-word;
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}*/
