/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 18, 2024, 3:44:04 PM
    Author     : tranl
*/
.navbar {
    background-color: black;
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
}

.navbar-item img{
    max-height: 45px;
    max-width: 85%;
}

.navbar-start a{
    color: #fff;
}

a.navbar-item:hover{
    color: #D9AB73;
    background-color: #000;
}

.navbar-end .navbar-item .buttons a{
    color: #D9AB73;
    background-color: #000;
    margin-right: 0px
}

.navbar-container-1 {
    padding: 0 5px;
}

.navbar-container-1 a:hover {
    color: #fff;
}

.navbar-1{
    padding: 5px 14px;
    color: #D9AB73;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    border-radius: 30px; border: 3px #D9AB73 solid
}

.navbar-1-list {
    padding: 5px 14px;
    color: #D9AB73;
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    border: 30px; border: 3px #D9AB73 solid;
}

.field {
    padding: 8px 0 0 0;
}

.search-bar {
    width: 80%;
    border: 3px solid #D9AB73;
    background: #FDF7FB;
}

.field .button-search  {
    background: #000;
    width: 100%;
    color: #D9AB73;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.field .button-search:hover {
    color: #fff;
    background-color: #000;
}

.button-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    background: #000;
    margin-left: 10px;
    border: 2px solid #FFF;

}

.button-search-container:hover {
    border: 2px solid #D9AB73;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.search-wrap {
    width: 972px;
    height: 115px;
    flex-shrink: 0;
    background-color: #000;
    border: 2px solid #D9AB73;
    border-radius: 15px ;
    /*border-color: #D9AB73;*/
}

.search-detail-container {
    display: flex;
    justify-content: center;
}

.search-container .field {
    display: flex;
    justify-content: center;
}

.search-detail-container .control .select:after {
    /*    content: '\25BC';  Unicode character for down arrow 
                font-size: 16px;
                color: #ff6600;  Change this to the desired arrow color 
                position: absolute;
                top: 50%;
                right: 5px;
                transform: translateY(-50%);*/
}


.realestate-quantity {
    width: 230px;
    height: 40px;
    flex-shrink: 0;
    color: #D9AB73;
    text-align: right;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer {
    position: fixed;
    width: 1440px;
    flex-shrink: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    padding: 15px 0 0 0
}

.footer-container{
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
    max-height: 90px;
}

.footer_content1 {
    color: #D9AB73;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
}

.footer-left-content {
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-mid-content {
    width: 424px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-right-content {
    width: 200px;
    height: 65px;
    flex-shrink: 0;
    max-height: 50%;
    background: lightgray 50% / cover no-repeat;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
    margin-right: 0px;
}

.buttons a {
    padding: 8px 10px;
}